<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.wpwk.mappers.ContentsItemMapper">

    <!-- 컨텐츠 아이템 삽입 -->
    <insert id = "createByContentsId" parameterType="Map">
        INSERT INTO contents_item (youtube_id, image_address, video_address, description, page_no, contents_id)
        VALUES
        <foreach collection="itemList" item="item" separator=" , ">
            (#{item.youtubeId}, #{item.imageAddress}, #{item.videoAddress},
            #{item.description}, #{item.pageNo}, #{contentsId})
        </foreach>
    </insert>

    <!-- 컨텐츠 아이디와 페이지 번호를 이용한 컨텐츠 아이템 조회 -->
    <select id="findByContentsIdAndPageNo" resultType="com.ssafy.wpwk.model.ContentsItem" parameterType="Map">
        SELECT id, youtube_id, image_address, video_address, description, page_no, contents_id
        FROM contents_item
        WHERE contents_id = #{contentsId}
          AND page_no = #{pageNo}
    </select>

    <!-- 컨텐츠 아이디를 이용한 컨텐츠 아이템 조회 -->
    <select id="findByContentsId" resultType="com.ssafy.wpwk.model.ContentsItem">
        SELECT id, youtube_id, image_address, video_address, description, page_no, contents_id
        FROM contents_item
        WHERE contents_id = #{contentsId}
        ORDER BY page_no ASC
    </select>

    <!-- 컨텐츠 아이디를 이용한 컨텐츠 아이템 삭제 -->
    <delete id="deleteByContentsId">
        DELETE FROM contents_item
        WHERE contents_id = #{contentsId}
    </delete>
</mapper>