<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.wpwk.mappers.ContentsCommentMapper">



    <insert id="addComment" parameterType="com.ssafy.wpwk.model.ContentsComment">
        INSERT INTO contents_comment (comment,created_by,updated_by,contents_id,user_id)
        VALUES (#{comment},#{createdBy},#{updatedBy},#{contentsId}, #{userId})
    </insert>

    <select id="allComments" resultType="com.ssafy.wpwk.model.ContentsComment" >
        SELECT c.id,c.user_id,u.nickname,c.contents_id,c.comment,c.created_at,c.updated_at
        FROM contents_comment c JOIN user u
        ON c.user_id = u.id
        WHERE contents_id = #{id}
        ORDER BY c.id DESC
    </select>

    <update id="updateComment" parameterType="com.ssafy.wpwk.model.ContentsComment">
        UPDATE contents_comment SET
            comment = #{comment},
            updated_at = #{updatedAt},
            updated_by = #{updatedBy}
        WHERE id = #{id} and user_id =#{userId}
    </update>

    <delete id="deleteComment">
        DELETE FROM contents_comment
        where id = #{id} and user_id = #{userId}
    </delete>

</mapper>