<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.wpwk.mappers.ContentsReportMapper">


    <resultMap id="Contents" type="com.ssafy.wpwk.model.Contents">
        <result column="contents_id" property="id"/>
        <result column="title" property="title"/>
        <result column="creator_id" property="userId"/>
        <result column="spend_time" property="spendTime"/>
        <result column="likes" property="likes"/>
        <result column="views" property="views"/>
        <result column="ability" property="ability"/>
    </resultMap>

    <resultMap id="ContentsReport" type="com.ssafy.wpwk.model.ContentsReport">
        <result column="contents_report_id" property="id"/>
        <result column="comment" property="comment"/>
        <result column="reporter_nickname" property="reporterNickname"/>
        <result column="created_at" property="createdAt"/>
        <result column="status" property="status"/>
        <result column="reporter_id" property="reporterId"/>
        <collection property="contents" resultMap="Contents"/>
    </resultMap>

    <select id="allReports" resultMap="ContentsReport" resultType="com.ssafy.wpwk.model.ContentsReport">
        SELECT c2.*, u2.nickname as "creator_nickname",u.nickname as "reporter_nickname"
        FROM user u JOIN (
            SELECT cr.id as "contents_report_id",
                   cr.comment,
                   cr.status,
                   cr.created_at,
                   cr.user_id as "reporter_id",
                   c.id as"contents_id",
                   c.title,
                   c.user_id as "creator_id",
                   c.spend_time,
                   c.likes,
                   c.views,
                   c.ability
            FROM contents_report cr JOIN contents c
            ON cr.contents_id =  c.id
        ) c2
        ON u.id = c2.reporter_id
        JOIN user u2 ON u2.id = c2.creator_id
        ORDER BY c2.contents_report_id DESC
    </select>

    <select id="findContentsReportById" resultMap="ContentsReport" resultType="com.ssafy.wpwk.model.ContentsReport">
        SELECT *
        FROM contents_report cr join contents c
        ON cr.contents_id = c.id
        WHERE cr.id = #{id}
    </select>

    <insert id="addReport" parameterType="map">
        INSERT INTO contents_report (contents_id,user_id,comment,created_by)
        VALUES (#{reportRequestDTO.contentsId},#{userId},#{reportRequestDTO.comment},"server1")
    </insert>

    <update id="updateStatus" parameterType="map">
        UPDATE contents_report
        SET status = #{status},
            processed_at = NOW()
        WHERE id = #{id}
    </update>


</mapper>

