<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.wpwk.mappers.TagMapper">

    <select id="getTagListByWord" parameterType="String" resultType="com.ssafy.wpwk.model.Tag">
        SELECT id, name, count
        FROM tags
        WHERE name LIKE CONCAT('%', #{word}, '%')
        ORDER BY count DESC, id DESC
        LIMIT 15;
    </select>

    <select id="getTagListByContentsId" parameterType="Long" resultType="com.ssafy.wpwk.model.Tag">
        SELECT t.id, t.name
        FROM contents_tag ct, tags t
        WHERE ct.contents_id = #{contentsId}
        AND ct.tags_id = t.id
    </select>


</mapper>