<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.wpwk.mappers.UserMapper">

    <select id="login" parameterType="Map" resultType="com.ssafy.wpwk.model.User">
        SELECT *
        FROM user
        WHERE email = #{email}
          and password = #{password}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.ssafy.wpwk.model.User">
        INSERT INTO user ( email, password, nickname, verification_key, created_by, updated_by)
        VALUES (#{email}, #{password}, #{nickname}, #{verificationKey}, #{createdBy}, #{updatedBy})
    </insert>

    <select id="findUserById" resultType="com.ssafy.wpwk.model.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="findUserByEmail" resultType="com.ssafy.wpwk.model.User">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <select id="findAll" resultType="com.ssafy.wpwk.model.User">
        SELECT *
        FROM user
    </select>

    <update id="deactivateUser">
        UPDATE user
        SET status = 0
        WHERE id = #{id}
    </update>

    <update id="changePassword" parameterType="com.ssafy.wpwk.model.User">
        UPDATE user
        SET password = #{password},
            updated_by = #{updatedBy},
            updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>

    <update id="verification" parameterType="Map">
        UPDATE user
        SET verification_key = #{key}, status = 1
        WHERE id = #{id}
    </update>

    <!--    유저의 역량 지표 업데이트-->
    <update id="updateUserAbilities" parameterType="map">
        UPDATE user
        SET ability1 = ability1 + #{abilityRequestDTO.abilities[0]},
            ability2 = ability2 + #{abilityRequestDTO.abilities[1]},
            ability3 = ability3 + #{abilityRequestDTO.abilities[2]},
            ability4 = ability4 + #{abilityRequestDTO.abilities[3]},
            ability5 = ability5 + #{abilityRequestDTO.abilities[4]},
            ability6 = ability6 + #{abilityRequestDTO.abilities[5]},
            ability7 = ability7 + #{abilityRequestDTO.abilities[6]},
            ability8 = ability8 + #{abilityRequestDTO.abilities[7]}
        WHERE id = #{id}
    </update>

    <select id="findUserAbilitiesById" resultType="com.ssafy.wpwk.model.AbilityResponseDTO">
        SELECT ability1,
               ability2,
               ability3,
               ability4,
               ability5,
               ability6,
               ability7,
               ability8
        FROM user
        WHERE id = #{id}
    </select>
</mapper>
